# data handling
numpy
pandas
stockstats
yfinance
investpy

# plot
matplotlib

# Model Building Requirements
scikit-learn>=0.21.0
gym>=0.17
stable-baselines3[extra]
stable-baselines

# testing requirements
pytest

# packaging
setuptools
wheel

tensorflow-gpu
git+https://github.com/AI4Finance-LLC/FinRL-Library.git